h1 {
    color: darkred;
    font-size: 20px;
}

.style1 {
    background-color: rgb(167, 167, 250);
}

#id01 {
    color: yellow;
}

.card {
    display: flex;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    background-color: rgb(184, 183, 183);
    gap: 20px;
    align-items: center;
    text-align: justify;
}

.capy {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid black;
}